.mainPage {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter{
  width: auto;
  height: 175px;
}

.cards {
  width: 80%;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}
