.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-between_Information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.store_card_img {
  width: 100px;
}

.label {
  height: 80px;
}

.cost {
  text-align: center;
}

.andAndMoreInfo {
  /* color: white; */
  font-size: 15px;
  width: 110px;
  height: 40px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;
  /* border: 1px solid black; */
}

.andAndMoreInfo:hover {
  background-color: white;
  transition: all 0.5s;
  box-shadow: 0 0 2px 1px black;
}

.discount {
  text-decoration: line-through;
  color: black;
}

.dic {
  color: orange;
}

.card-storeIcon {
  width: 40%;
  height: 100%;
}
